[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gunicorn = "*"
blis = "*"
cachetools = "*"
catalogue = "*"
certifi = "*"
charset-normalizer = "*"
click = "*"
cymem =  "*"
google-auth = "*"
google-auth-oauthlib = "*"
gspread = "*"
httplib2 = "*"
idna = "*"
joblib = "*"
langcodes = "*"
MarkupSafe = "*"
murmurhash = "*"
nltk = "*"
numpy = "*"
oauth2client = "*"
oauthlib = "*"
packaging = "*"
pathy = "*"
preshed = "*"
pyasn1 = "*"
pyasn1-modules = "*"
pydantic = "*"
pyparsing = "*"
regex = "*"
requests = "*"
requests-oauthlib = "*"
rsa = "*"
six = "*"
smart-open = "*"
spacy = "*"
spacy-legacy = "*"
spacy-loggers = "*"
srsly = "*"
thinc = "*"
tqdm = "*"
typer = "*"
typing_extensions = "*"
urllib3 = "*"
wasabi = "*"
Werkzeug = "*"

[dev-packages]

[requires]
python_version = "3.8.12"
